
  <% @bookmarks.each do |bookmark| %>
    <div id='<%= "delete-#{bookmark.id}" %>' class="bookmark-block">
      <h2><a href="<%= "#{bookmark.url}" %>"><%= "#{bookmark.title}" %></a></h2>
      <form method="post" action="/delete-bookmark">
        <button id="<%= "#{bookmark.id}" %>" type="submit">Delete</button>
      </form>
    </div>
  <% end %>
