<h1> Welcome to your bookmark manager page! </h1>
<br>

<form action='/new-bookmark' method='post'>
  <label> New bookmark url: </label>
  <input type='text' name='new_bookmark_url'>
  <label> New bookmark title: </label>
  <input type='text' name='new_bookmark_title'>
  <input type='submit' value='Submit'>
  </form>

<a href="/bookmarks">
  <button>View Bookmarks</button>
</a>
