<h1> Welcome to your bookmark manager page! </h1>
<br>

<form action='/add-bookmark' method='post'>
  <label> New bookmark url: </label>
  <input type='text' name='url' placeholder='URL'>
  <label> New bookmark title: </label>
  <input type='text' name='title' placeholder='Title'>
  <input type='submit' value='Submit'>
</form>

<a href="/bookmarks">
  <button>View Bookmarks</button>
</a>
